body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 1em;
}

section {
    margin: 20px;
}

.dish {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dish-title-red {
    color: #E57373;
}

.dish-title-green {
    color: #81C784;
}

.dish-title-blue {
    color: #64B5F6;
}

.dish-title-yellow {
    color: #FFD54F;
}

.dish-title-purple {
    color: #9575CD;
}

p {
    color: #555;
}
